body {
    font-family: Arial;
    font-size: 0.8em;
    background: #fafcfc !important;

}
header {
    background: #000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
}
.logout {

}
nav li {
    float: left;
    vertical-align:top;
    margin: 0 10px;
    height:40px;
    line-height:20px;
}
nav  li:first-of-type {
    margin-left:0px;
}
nav ul::after {
    content: ' ';
    clear: both;
}
nav a {
    text-decoration: none;
    font-weight: 700;
    font-size:18px;
    color: #FFF;
}
.container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

.customers-info {
    margin-top: 70px;
}

#new-customer-form{
    margin-top:40px;

}

.popup {
   width:60%;
   max-width:1200px;
   border:1px lightgray solid;
   border-radius:7px;
   padding: 30px 10%;
   position:absolute;
   top:50%;
   left:50%;
   -ms-transform: translate(-50%, 50%);
   transform: translate(-50%, 0%);
   margin:0 auto;
}

.popup h4 {

}
#new-customer-popup{
   display:none;
}

input {
    width: 100%;
}
input, button {

     padding: 2px 10px;
     border: 1px solid lightblue;
     background: white;
}

button {
     height: 2.5em;
     /* border-radius: 40px; */
     padding: 2px 10px;
     border: 1px solid lightblue;
     background: white;
}
.customers {
    border-radius: 7px;
    position:relative;
    margin-block-start: 19%;
    padding: 5% 2%;
}
.customers, #new-customer-popup, .popup{
           background: #fff;
           /* border: 1px lightgreen solid; */
           box-shadow: 2px 1px 1px 5px lightgrey;

}
.info {
    display: grid;
}
.name {
    grid-column-start:1;
    grid-column-end:6;
}

.email {
    grid-column-start:7;
    grid-column-end:9;
}
.buttons {
    grid-column-start:10;
    grid-column-end:12;
}
a {
    color:gray;
}
input#find-client-passnumber-field, input.duration-input {
    width:30%;
    margin-right:1%;

}

input[type=checkbox] {
    width: 20%;
    padding: 0 auto;
    position: relative;
    top: 6px;

}

#new-credit-popup, #new-account-popup, #new-product-client-popup {
   display:none;
 }
