<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bm/dt-1.11.5/datatables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".no-duration").on('change', function(){
                if (this.checked) {
                    $(".duration-block").css('display', 'none');
                } else {
                    $(".duration-block").css('display', 'block');
                }
            });

             $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/v1/product-datatable/",
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json",
                "data": function (d) {
                    console.log(JSON.stringify(d))
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data": "title", "width": "50%"},
                {"data": "description","width": "50%"}
            ]
        });

        });
    </script>
</head>
<body th:style="'background:url('+ @{/images/bg.jpg} +');'">
<div th:replace="fragments/components :: header"></div>
<div class="container">
    <div class="customers">
        <a href="#" onclick='$("#new-account-popup").show(); $("#new-credit-popup").hide()'>Add new bank account</a>
        <a href="#" onclick='$("#new-credit-popup").show(); $("#new-account-popup").hide()'>Add new bank credit</a>

        <div class="customers-info">
            Bank Products
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th style="width:50%">Title</th>
                    <th style="width:50%">Description</th>
                </tr>
                </thead>
            </table>
        </div>
        </div>
        <div class="popup" id="new-account-popup">
            <form  th:object="${account}" th:action="@{/products/add-new-account}" method="post">
                <div>
                    <p>No duration <input type="checkbox" value="no-duration" class="no-duration"/></p>
                    <p class="duration-block"><input name="minimalTerm" class="duration-input" type="number"><select name="duration" th:field="*{duration}">
                        <option value="month">months</option>
                        <option value="years">years</option>
                    </select></p>
                    <p><input name="title" type="text"  th:field="*{title}" placeholder="title"></p>
                    <p><input name="description" type="text"  th:field="*{description}" placeholder="Description"></p>
                    <button>New account</button>
                </div>
            </form>
        </div>
        <div class="popup" id="new-credit-popup">
            <form  th:object="${credit}" th:action="@{/products/add-new-credit}" method="post">
                <div>
                    <p><input name="failTerm" class="duration-input" type="number"><select name="duration" th:field="*{duration}">
                        <option value="month">months</option>
                        <option value="years">years</option>
                    </select></p>
                    <p><input name="rate" type="number" th:field="*{rate}"></p>
                    <p><input name="title" type="text"  th:field="*{title}" placeholder="title"></p>
                    <p><input name="description" type="text"  th:field="*{description}" placeholder="Description"></p>
                    <button>New credit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>