<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    </script>
</head>
<body th:style="'background:url('+ @{/images/bg.jpg} +');'">
<div th:replace="fragments/components :: header"></div>
<div class="container">
    <div class="customers">
        <a href="#" onclick='$("#new-customer-popup").show()'>Add new customer</a>
        <div class="customers-info">
            Customers

                <div class="customer">
                    <div class="info" >
                        <div class="name" th:text="${customer.firstname}">name</div>
                        <div class="email" th:text="${customer.email}">han@info.de</div>
                        <div class="email" th:text="${customer.passNumber}">passnumber</div>
                        <div class="buttons"></div>
                    </div>
                    <div>
                        <h6>Banking products</h6>
                        <a href="#" onclick='$("#new-product-popup").show();'>Add new product</a>
                        <div>
                            Current products

                            <div class="product-title">
                                <p>Title</p>
                            </div>
                            <div class="product-information">
                                <p>Amount</p>
                            </div>
                            <div th:each="product : ${customer.customerProduct}">
                                <div class="product-title">
                                    <p th:text="${product.product.title}"></p>
                                </div>
                                <div class="product-information">
                                    <p th:text="${product.amount}"></p>
                                </div>
                            </div>
                        </div>
                        <div id="new-product-popup">
                            <form th:object="${customerProduct}" th:action="@{/products/new-product-by-customer}" method="post">
                                <p><select th:field="*{product}">
                                        <th:block  th:each="prod : ${availableProducts}">
                                            <option th:value="${prod.id}" th:text="${prod.title}">Account</option>
                                        </th:block>
                                    </select>
                                </p>
                                <p><input type="number" th:field="*{amount}" placeholder="amount"></p>
                                <p><input type="hidden" th:field="*{customer}" th:value="${customer}"></p>
                                <button>Open</button>
                            </form>
                        </div>
                    </div>
                </div>

        </div>

    </div>
</div>
</body>
</html>