<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Lateef&family=Manuale:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bm/dt-1.11.5/datatables.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script defer>
        $(document).ready(function() {
            $('#example').DataTable({
            "processing": false,
            "serverSide": false,

            "columns": [
               {"data": "title", "width": "20%"},
                {"data": "description","width": "40%"},
                {"data": "amount","width": "40%"}
            ]
        });

    });
    </script>
</head>
<body th:style="'background:url('+ @{/images/bg.jpg} +');'">
<div th:replace="fragments/components :: header"></div>
<div class="container">
    <div class="customers">
        <div class="person_data">
            <p><span>Name:</span><span th:text="${customer.firstname}"></span></p>
            <p><span>Email:</span><span th:text="${customer.email}"></span></p>
            <p><span>Password:</span><span th:text="${customer.passNumber}"></span></p>
            <div class="buttons"></div>
        </div>
    </div>
    <div class="customers">
        <h3>Banking products</h3>
        <button class="button is-link is-small openproduct"   onclick='$("#new-product-client-popup").show();'>
            Open Account/Credit
        </button>
        <div class="customers-info">
            <div class="customer">
                        <div>
                            Current products
                            <table id="example" class="table table-bordered" >
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Title</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody th:each="product : ${customer.customerProduct}">
                                    <tr>
                                        <td th:text="${product.number}"></td>
                                        <td th:text="${product.product.title}"></td>
                                        <td th:text="${product.amount}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="new-product-client-popup" class="popup">
                            <form th:object="${customerProduct}" th:action="@{/products/new-product-by-customer}" method="post">
                                <p><select th:field="*{product}">
                                        <th:block  th:each="prod : ${availableProducts}">
                                            <option th:value="${prod.id}" th:text="${prod.getNameAndType()}">Account</option>
                                        </th:block>
                                    </select>
                                </p>
                                <p><input type="number" th:field="*{amount}" required placeholder="amount"></p>
                                <p><input type="hidden" th:field="*{customer}" th:value="${customer}"></p>
                                <button class="button is-link is-small is-outlined">Open</button>
                            </form>
                        </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>